@keyframes heroBoxAnimation {
    from {
      background-position: 0 0;
    } to {
      background-position: 100vw 100vh;
    }
}

.heroBox {
    background-image: url("../public/hero/hero-bg.png");
    background-size: 500px;
    background-repeat: repeat;
    animation: heroBoxAnimation 120s linear infinite;

    padding: 50px 0;
    margin-bottom: 5vh;
    padding-left: 24px;
    margin-left: -24px;
    padding-right: 24px;
    margin-right: -24px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.heroBoxLight {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../public/hero/hero-bg.png");
    background-size: 500px;
    background-repeat: repeat;
    animation: heroBoxAnimation 120s linear infinite;

    padding: 50px 0;
    margin-bottom: 5vh;
    padding-left: 24px;
    margin-left: -24px;
    padding-right: 24px;
    margin-right: -24px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.heroLogo {
    height: auto;
    width: 350px;
    margin-bottom: 1vh;
}

.heroTitle {
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin: 0 10vw;
}

.heroDescription {
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 0 10vw;
}

@media (max-width: 767px) {
    .heroBox {
        padding: 25px 0;
    }

    .heroLogo {
        width: 0px;
        margin-bottom: 0;
    }
}
